

/*footer*/
div#footer {
    
        margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    background: transparent;
    vertical-align: baseline;
    line-height: 79px;
    height: 80px;
	background: red;
/*	font-family: 'FujitsuSans', sans-serif;*/
	font-size: 16px;

	color: #333333;
	width: 100%;
}

.footer_container{
	margin-right: auto;
	margin-left: 0;
	width: 100%;
	background: grey;
}
.list-inline a {
    font-size: 18px;
    color: #3c3c35;
    text-align: left;

}

ul.list-inline {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 15px;
    height: 100%;

}

.list-inline > li {
    display: inline-block;
    padding-right: 40px;
}

.footer_col{
	background: grey;
	float:left;
	margin:0px;
/*	position: relative;*/
	width: 40%;
	height: 80px;
}

.footer_col_right{
/*	width: 100px;*/
	width: 60%;
}

.footer_text_right{
	text-align: right;
	padding-right: 30px;
/*    color: #3c3c35;*/
/*    float:right;*/
} 