/*body{
    margin: 0px;
    padding: 0px;
}
*/
.top_nav{
/*    background-color: #efe5d0;*/
    margin: 0px 0px 0px 0px;
    height: 80px;
    width: 100%;
    position:fixed;
    top: 0px;
    background-color: #ffffff;
    z-index: 1;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #F7F9F8;

}

.top_nav_menu{
	margin: 0px 0px 0px 0px;
/*	border-style: solid;*/
	border-color: red;
	float: left;
	height: 80px;
	vertical-align:top;		
}

.top_nav_left_log_part{
	margin-left: 30px;
	margin-right: 20px;	
}

.top_nav_right_log_part{
	float: right;
	
}
ul.top_nav_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

/*    background-color: #333;*/
}

li.top_nav_li {
    float: left;
    height: 80px;
}

li.top_nav_li a{
    display:inline-block;
    text-align: center;
    padding-top: 25px;
    text-decoration: none;
    transition: 0.3s;
}

li.nav_menu:hover:not(.active) {
    background-color: #eeeeee;
    border-bottom-color: #ff0000;
    border-bottom-style: solid;
    border-bottom-width: 4px;
}

li.nav_menu_active{
    border-bottom-color: #ff0000;
    border-bottom-style: solid;
    border-bottom-width: 4px;
}





li.top_nav_li a:hover:active {
/*    background-color: red;;*/

}

li.nav_menu a{
    font-size: 20px;
    color: #322f31;
    margin-left: 20px;
    margin-right: 20px;
}

li#nav_menu_show{
    display: none;
}



li#nav_menu_show a:hover:not(.active) {
    background-color: red;
}




img#img_nav_left_png,img#img_nav_right_png,img#img_nav_phone_png
{
    display: block;
/*  width: 25px; */
    margin: auto;
}

li.top_nav_right_log{
    float:right;
	margin-right:10px;
	padding-top:20px;
	display: none;
}

ul.top_nav_ul li.icon {display: none;}
/*hamberger size*/
#hamberger{
    font-size: 30px;
    margin:0;
}
.icon{
    margin-top: 15px;
}

.number{
    margin-left:10px;
}

li.hamberger_icon{
    float:right;
    margin-right: 10px;
    padding-top:17px;
    display: none;
}


@media screen and (max-width:1170px){
/*	.top_nav_contact_part{
	display:none;  
  }*/
	li.nav_menu a{
	    font-size: 20px;
	    color: #322f31;
	    margin-left: 10px;
	    margin-right: 10px;
	}
	.top_nav_left_log_part{
		margin-left: 20px;
		margin-right: 10px;	
	}
	.top_nav_right_log{
		margin-right: 0px;
	}
	id#img_nav_phone_png{
		margin-left: 10px;
	}
}

@media screen and (max-width:1160px){
  .top_nav_menu_middle{
  	width: 100%;
  	display: none;
  	position: fixed;
  	top: 80px;
  }
  li.nav_menu{
	background-color: grey;
	float: none;
	}
  	li.top_nav_right_log{
  		display: none;
  	}
  	li.hamberger_icon{
  		font-size: 30px;
  		display: block;
  		float: right;
  		margin-right: 10px;
  	}
  }

@media screen and (min-width:1165px){
   	li.top_nav_right_log{
  		display: block;
  	}
  	li.nav_menu{
  		float: left;
  	}
/*  	.top_nav_menu_middle{
  		display: block;
  	}*/
}

.top_nav_menu_middle_display{
	display: block;
}

/*Navi Responsive */
/* When the screen is less than 768 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
/*@media screen and (max-width:800px) {
  .top_nav_menu_middle{
  	display: none;
  }
  .top_nav_contact_part{
	display:none;  
  }

  ul.top_nav_ul li.top_nav_right_log{
  	display: none;
  }
  ul.top_nav_ul li.hamberger_icon {
    float: right;
    display: block;
  }
}*/

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */

/*@media screen and (max-width:800px) {
  ul.top_nav_ul.responsive {position: relative;}
  ul.top_nav_ul.responsive li.icon {
    position: absolute;
    right: 0;
    top:0;
  }
  ul.top_nav_ul.responsive li {
    float: none;
    display: inline;
  }
  ul.top_nav_ul.responsive li a {
    display: block;
    text-align: left;
    background-color: #F7F9F8;

    width:100%;

  }
  ul.top_nav_ul.responsive li a:hover {
    color:#ff0000;
    background:grey;
  }


.number
{
    display:none;
}
img#img_nav_right_png{
    display:none;
    top: -10px;

}

}*/

