/*body{
	margin: 0px;
	padding: 0px;
}
*/
.top_nav{
/*    background-color: #efe5d0;*/
    margin: 0px 0px 0px 0px;
    height: 80px;
    width: 100%;
    position:fixed; 
    top: 0px;
    background-color: white;
    z-index: 1;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: #F7F9F8;
    
}
ul.top_nav_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
/*    background-color: #333;*/
}

li.top_nav_li {
    float: left;
    height: 80px;
/*    border-style: solid;*/

}

li.top_nav_li a{
    display: block;
/*    color: white;*/
    text-align: center;
    padding-top: 25px;
    padding-left: 16px;
/*    padding: 10px 16px;*/
    text-decoration: none;
}

li.top_nav_li.nav_menu:hover:not(.active) {
    background-color: gray;
    border-bottom-color: red;
    border-bottom-style: solid;
    border-bottom:-width: 4px;
    
}

li.top_nav_li a:hover:active {
/*    background-color: red;;*/

}

li.nav_menu a{
    font-size: 20px;
    color: #322f31;
}

li#nav_menu_show{
    display: none;
}

li#nav_menu_show a:hover:not(.active) {
    background-color: red;
}

img#img_nav_left_png,img#img_nav_right_png,img#img_nav_phone_png
{
	display: block; 
/*	width: 25px; */
	margin: auto;
}

li.top_nav_right_log{
	float:right;
}


@media (max-width:601px){
/*	li.nav_menu_dropdown{display: inline;}
	div.dropdown{display: inline-block;}
	li.nav_menu{display: none;}
		
*/
    li.nav_menu{display: none;}
	li.top_nav_right_log{display: none;}
/*	li.top_nav_left_log{display: none;}*/
	li#nav_menu_show{display: block; float: right;}

	}
@media (min-width:801px){
/*	li.nav_menu_dropdown{display: none;}
	div.dropdown{display: none;}*/
	}
	