
div.slider_container{
	font-size: large;
	position: relative;
	height: 300px;
}
div.slider_bottom{
/*	margin-top: 5px;*/
	width:100%; 
	background: gray;
	height: 30px;
}

img.mySlides{
    width:100%;
    height:300px;
}

div.slider_angle{
	display: inline-block;
	margin-right:20px;
	height: 100%;
	vertical-align: middle;
	padding-top: 2px;
	cursor:pointer;
}
div.slider_left_angle{

	 
}

div.slider_right_angle{

	
}

div.slider_fixed_box_png{
	position: absolute;
	top: 40px;
	left: 90px;
}

div.slider_fixed_box_text{
	position: absolute;
	top: 50px;
	left: 100px;
}

div.slider_changed_box{
	position: absolute;
	top: 10px;
	left: 300px;
	max-width:1200px; 
	height: 300px;

}

p.sliders_text_head{
	font-size: 30px;
	color: white;
}

p.sliders_text_body{
	font-size: 18px;
	color: white;
}

.sliders_text_button{
	font-size: 18px;
	color: blue;
}

div.slider_bottom_text_container{
    display:inline-block; 
    margin-left:20px;
    width: 90%;
    vertical-align: middle;
}